body{
    background-color: cornsilk;
}
#cTop{
    top:0;
    left: 40vw;
    background-color: crimson;
    width: 20vw;
    height: 20vw;
    /* padding-top: 20%; */
    position: absolute;
    display: block;

}
#cBtm{
    left: 40%;
    width: 20%;
    background-color: crimson;
    position: absolute;
    display: block;
    bottom:0;

}
#cLeft{
    left:0;
    background-color: crimson;
    width: 20vw;
    height: 20vw;
    top:40vw;
    position: absolute;
    display: block;
}
#cRight{
    right: 0;
    top: 40%;
    background-color: crimson;
    padding-right: 20%;
    position: absolute;
    display: block;
}

#c1,#cL{
width: 20vw;
height: 20vw;
}

#cSB{
    background-color: cyan;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    position: absolute;
    display: block;
}